.starting-hands {
    fill: var(--fg)
}

.throw-label {
    fill: var(--fg)
}

img+em {
    display: block
}

crossreference {
    background-color: var(--quote-bg);
    border: 3px solid var(--quote-border);
    display: block;
    padding: 8px;
}

.video {
    display: none;
}

 

svg { max-width: 100%;}


todo-sync-group {
    display: block;
    white-space: pre;
    background-color: red;
}

TODO-manipulator-sync {
    display: block;
    white-space: pre;
    background-color: red;
}

todo-sync-group:before {
    content: "TODO: "
}

todo-siteswap-group {
    display: block;
    white-space: pre;
    background-color: red;
}

todo-siteswap-group:before {
    content: "TODO: "
}

        
svg .tab { cursor: pointer; }
svg .tab rect { fill: var(--bg-color); stroke: var(--tab-inactive); }
svg .tab text { fill: #666; font-size: 8px;      text-anchor: middle;            dominant-baseline: central;}
svg .tab line {  stroke: transparent;           stroke-width: 3; }
svg .tab:hover rect { fill: var(--bg-secondary-color); }
svg .tab-active rect { fill: white; stroke: var(--tab-active); stroke-width: 2; }
svg .tab-active text { fill: var(--tab-active); font-weight: 600;      text-anchor: middle; dominant-baseline: central;}
svg .tab-active line { stroke: var(--tab-active);            stroke-width: 3;}
/* svg { border: 1px solid #e5e5e5; } */

:root {
    --bg-color:#fff;
    --bg-secondary-color:#f3f3f6;
    --tab-inactive:#d2d6dd;
    --tab-hover:#747681;
    --tab-active:#3f4144;
  }
