.starting-hands {
    fill: var(--fg)
}
.throw-label {
    fill: var(--fg)
}

img + em {
    display: block
}

crossreference {
    background-color: var(--quote-bg);
    color: var(--quote-fg);
    display: block;
    padding: 8px;
}

video {
    display: none;
}